@charset "UTF-8";

/*Обнуление*/

* {
  padding: 0;
  /*Видаляємо всі відступи і межі*/
  margin: 0;
  /* - це звернення до всіх тегів на сторінці*/
  border: 0;
}

*,
*:before,
*:after {
  /*міняє пілрахунок ширини блока так щоб було зручніше верстати*/
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

/*прибираємо лінії обводки в деяких браузерах*/

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

/*перечисляємо деякі хтмл теги і додаємо їм значення блок, що робить їх блочними*/

html,
body {
  /*прирівнюємо поведінку шрифтів і елементів для різних браузерів*/
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

/*наслідування сімейства шрифта*/

input::-ms-clear {
  display: none;
}

/*прибираєть хрестик в інтернет експлорері*/

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*обнуляємо всі заголовки*/

/*--------------------*/

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg-img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

/*--------------------*/

/*--------------------*/

body._lock {
  overflow: hidden;
}

.wrapper {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Raleway", sans-serif;
}

.header {
  padding: 22px 0px;
  position: fixed;
  width: 100%;
  z-index: 50;
}

.header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  z-index: 9;
}

.header-container {
  width: 95%;
  max-width: 1170px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-logo {
  cursor: pointer;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  position: relative;
  z-index: 10;
}

.header-logo span {
  font-size: 30px;
  font-weight: 600;
}

.header-logo:hover {
  opacity: 0.7;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav {
  margin-right: 15px;
  position: relative;
  z-index: 12;
}

.header-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-li {
  margin: 0px 10px;
}

.header-li-a {
  font-size: 14px;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  color: #222222;
  text-transform: uppercase;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.header-li-a:hover {
  opacity: 0.7;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.header-li-a._current {
  opacity: 0.7;
  color: #18181d;
}

.header-basket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  position: relative;
  z-index: 10;
}

.header-basket:hover {
  opacity: 0.7;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.header-basket-icon {
  margin-right: 10px;
}

.header-basket-icon img {
  width: 16px;
}

.header-basket-count span {
  font-size: 14px;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  color: #222222;
}

.menu-icon {
  display: none;
  z-index: 10;
  position: relative;
  width: 25px;
  height: 18px;
  cursor: pointer;
  margin-left: 20px;
}

.popupBasket {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.popupBasket._active {
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.popupBasket-body {
  height: 100%;
}

.popupBasket-container {
  width: 463px;
  height: 100%;
  margin-left: auto;
  background-color: #18181d;
  overflow: auto;
  position: relative;
  right: -31%;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.popupBasket-container._active {
  right: 0%;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.popupBasket-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 22px 32px;
  border-bottom: 1px solid #2c2c33;
}

.popupBasket-top-title {
  font-size: 16px;
  color: #ffffff;
  font-weight: 500;
}

.popupBasket-close {
  opacity: 0.5;
  color: #88888a;
  cursor: pointer;
  font-size: 20px;
}

.popupBasket-products {
  padding: 32px;
  border-bottom: 1px solid #2c2c33;
}

.popupBasket-product {
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

.popupBasket-product-img {
  margin-right: 32px;
}

.popupBasket-product-img img {
  width: 80px;
  height: 120px;
}

.popupBasket-product-info {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  position: relative;
}

.popupBasket-info-title {
  font-size: 16px;
  margin-bottom: 10px;
}

.popupBasket-info-price {
  line-height: 1.3;
}

.popupBasket-remove {
  position: absolute;
  bottom: 0px;
  left: 0px;
  cursor: pointer;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  text-transform: uppercase;
}

.popupBasket-remove:hover {
  opacity: 1;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.popupBasket-stepper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
}

.popupBasket-stepper-input {
  width: 60px;
  height: 50px;
  border: 1px solid #2c2c33;
  color: #ffffff;
  background-color: #18181d;
  text-align: center;
}

.popupBasket-stepper-buttons {
  width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popupBasket-stepper-button {
  background-color: #18181d;
  color: #ffffff;
}

.buttonUp2 {
  margin-bottom: 5px;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.buttonDown2 {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  position: relative;
  left: -1.5px;
}

.buttonDown2.stepper-button-disabled2 {
  opacity: 0.5;
  pointer-events: none;
}

.popupBasket-bottom {
  padding: 32px;
}

.popupBasket-totalPriceContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #ffffff;
  font-size: 18px;
  margin-bottom: 31px;
}

.popup-button {
  width: 100%;
  padding: 22px 30px;
  background-color: #ffffff;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
}

.main {
  padding-top: 64px;
}

.no-webp .block1{
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(24, 24, 29, 0.45)), to(rgba(24, 24, 29, 0.45))), url("../img/block1-background.jpg");
  background-image: -o-linear-gradient(top, rgba(24, 24, 29, 0.45), rgba(24, 24, 29, 0.45)), url("../img/block1-background.jpg");
  background-image: linear-gradient(180deg, rgba(24, 24, 29, 0.45), rgba(24, 24, 29, 0.45)), url("../img/block1-background.jpg"); }

.block1 {
  padding: 70px 0px;
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
}

.block1-container {
  max-width: 582px;
  width: 90%;
  margin: 0 auto;
  color: #ffffff;
  text-align: center;
}

.block1-title1 {
  font-size: 12px;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 2px;
  opacity: 0.7;
  margin-bottom: 10px;
}

.block1-title2 {
  font-size: 44px;
  font-weight: 600;
  margin: 30px 0px 25px;
  line-height: 1.2;
}

.block1-text {
  font-size: 16px;
  opacity: 0.7;
  line-height: 26px;
}

.block2 {
  margin-top: 100px;
}

.block2-container {
  max-width: 1170px;
  width: 95%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block2-leftSide {
  color: #18181d;
  width: 25%;
  max-width: 273px;
  margin-right: 30px;
}

.block2-title {
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 25px;
  line-height: 35px;
}

.block2-text {
  font-size: 16px;
  line-height: 26px;
  opacity: 0.7;
}

.block2-categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.block2-category {
  display: block;
  width: 31%;
  padding: 0px 0px 45% 0px;
}

.block2-category:not(:last-child) {
  margin-right: 30px;
}

.block2-category:hover .block2-category-background {
  opacity: 0.2;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.block2-category:hover .block2-category-button {
  -webkit-transform: translate(-50%, 0%);
      -ms-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  opacity: 1;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.block2-category-lable {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  font-size: 12px;
  font-weight: 600;
  color: #18181d;
  text-transform: uppercase;
  padding: 14px 22px;
  background-color: #ffffff;
}

.block2-category-button {
  position: absolute;
  bottom: 4%;
  left: 50%;
  z-index: 15;
  -webkit-transform: translate(-50%, 20%);
      -ms-transform: translate(-50%, 20%);
          transform: translate(-50%, 20%);
  opacity: 0;
  width: 90%;
  background-color: #ffffff;
  text-align: center;
  padding: 18px 30px;
  font-size: 14px;
  font-weight: 600;
  color: #000000;
  line-height: 1.3;
  text-transform: uppercase;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.block2-category-background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.block3 {
  margin-top: 100px;
  margin-bottom: 100px;
}

.block3-container {
  width: 95%;
  max-width: 1170px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.block3-aside {
  width: 25%;
  max-width: 273px;
  min-width: 110px;
}

.block3-menu {
  position: sticky;
  top: 100px;
}

.block3-menu-title {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  opacity: 0.7;
  color: #18181d;
  margin-bottom: 30px;
}

.block3-li:not(:last-child) {
  margin-bottom: 20px;
}

.block3-li-a {
  font-size: 16px;
  font-weight: 500;
  color: #18181d;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}

.block3-li-a:hover {
  opacity: 0.7;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}

.block4-products {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (49%)[2];
  grid-template-columns: repeat(2, 49%);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  grid-row-gap: 36px;
  width: 75%;
}

.block4-product-img {
  display: block;
  padding: 0px 0px 132% 0px;
}

.block4-product-img:hover .block4-product-blackPhone {
  opacity: 0.2;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.block4-product-img:hover .block4-product-button {
  opacity: 1;
  -webkit-transform: translate(-50%, 0%);
      -ms-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.block4-product-blackPhone {
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000000;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.block4-product-button {
  font-size: 14px;
  font-weight: 500;
  background-color: #fff;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  padding: 18px 0px;
  width: 90%;
  position: absolute;
  bottom: 4%;
  left: 50%;
  z-index: 15;
  -webkit-transform: translate(-50%, 20%);
      -ms-transform: translate(-50%, 20%);
          transform: translate(-50%, 20%);
  opacity: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.block4-product-info {
  margin-top: 36px;
}

.block4-product-name {
  font-size: 16px;
  font-weight: 500;
  color: #18181d;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}

.block4-product-name:hover {
  opacity: 0.7;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}

.block4-product-price {
  font-size: 24px;
  font-weight: 300;
  color: #18181d;
  margin: 20px 0px 0px;
}

.block4-button {
  background-color: #18181d;
  margin: 0 auto;
  width: 245px;
  padding: 22px 30px;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.block4-button:hover {
  opacity: 0.9;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.block4-button .block1-button-text {
  color: #fff;
}

.block4-button .block1-button-arrow {
  color: #fff;
}

.block4-lable {
  display: none;
  position: absolute;
  top: 0;
  padding: 14px 18px;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}

.block4-lable.featured {
  display: inline-block;
  color: #18181d;
  background-color: #ffffff;
  left: 0;
}

.block4-lable.sale {
  display: inline-block;
  color: #ffffff;
  background-color: #18181d;
  right: 0;
}

.block7 {
  margin-bottom: 100px;
}

.block7-container {
  width: 95%;
  max-width: 1170px;
  margin: 0 auto;
}

.block7-top {
  color: #18181d;
  margin-bottom: 36px;
  width: 100%;
  max-width: 582px;
}

.block7-articles {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 36px 1fr 36px 1fr;
  grid-template-columns: 2fr 1fr 1fr;
  grid-column-gap: 36px;
      grid-template-areas: "big-article article1 article2";
}

.block7-article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.big-article {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: big-article;
}

.big-article .block7-img-background {
  padding: 0px 0px 47.5% 0px;
}

.article1 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: article1;
}

.article1 {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: article2;
}

.block7-article-img {
  display: block;
  position: relative;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.block7-article-img:hover .block7-img-background {
  opacity: 0.8;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.block7-img-background {
  height: 100%;
  padding: 0px 0px 95% 0px;
  z-index: 10;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.block7-article-lable {
  display: inline-block;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  color: #18181d;
  background-color: #ffffff;
  padding: 10px 22px;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 20;
}

.block7-article-info {
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.block7-article-title {
  display: block;
  font-size: 24px;
  font-weight: 300;
  color: #18181d;
  line-height: 32px;
  margin-bottom: 15px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.block7-article-title:hover {
  opacity: 0.8;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.block7-button-border {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.block7-article-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.block7-article-button:hover .block7-button-img {
  margin-left: 30px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.block7-button-text {
  font-size: 14px;
  font-weight: 500;
  color: #18181d;
  text-transform: uppercase;
}

.block7-button-img {
  margin-left: 20px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.block8 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
  grid-template-columns: repeat(6, 1fr);
  margin-bottom: 56px;
}

.block8-img {
  padding: 0px 0px 108% 0px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.block8-img:hover {
  opacity: 0.8;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.block9 {
  margin-bottom: 100px;
}

.block9-container {
  width: 95%;
  max-width: 1170px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.block9-colony {
  color: #18181d;
  width: 33.3%;
}

.block9-text1 {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 600;
  line-height: 1.3;
}

.block9-text2 {
  font-size: 14px;
  font-weight: 600;
  opacity: 0.7;
}

.footer {
  padding: 60px 0px;
}

.footer-container {
  max-width: 1170px;
  width: 95%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-logo {
  cursor: pointer;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  position: relative;
  z-index: 10;
}

.footer-logo span {
  font-size: 30px;
  font-weight: 600;
}

.footer-logo:hover {
  opacity: 0.7;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.footer-navigations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
}

.footer-nav-title {
  font-size: 16px;
  font-weight: 600;
  color: #18181d;
  margin-bottom: 20px;
  line-height: 1.2;
}

.footer-li:not(:last-child) {
  margin-bottom: 15px;
}

.footer-li-a {
  font-size: 14px;
  font-weight: 600;
  color: #18181d;
  opacity: 0.7;
}

.footer-li-a._current {
  opacity: 1;
}

@media (max-width: 992px) {
  .block2-leftSide {
    margin-right: 20px;
  }

  .block2-title {
    font-size: 30px;
    line-height: 38px;
  }

  .block3 {
    margin-bottom: 50px;
  }

  .block4-product-info {
    margin-top: 26px;
  }

  .block4-product-price {
    margin: 15px 0px 10px;
  }
}

@media (max-width: 767px) {
  .header-nav {
    position: fixed;
    top: -100%;
    left: 0%;
    z-index: 5;
    width: 100%;
    height: 100%;
    padding: 70px 0px 0px 0px;
    background-color: #ffffff;
    overflow: auto;
    -webkit-transition: top 1s ease 0s;
    -o-transition: top 1s ease 0s;
    transition: top 1s ease 0s;
  }

  .header-nav._active {
    top: 0;
    -webkit-transition: top 0.5s ease 0s;
    -o-transition: top 0.5s ease 0s;
    transition: top 0.5s ease 0s;
  }

  .header-ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .header-li {
    padding: 14px 3%;
    margin: 0px;
  }

  .menu-icon {
    display: block;
  }

  .menu-icon span,
  .menu-icon:before,
  .menu-icon:after {
    position: absolute;
    height: 15%;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #18181d;
  }

  .menu-icon:before,
  .menu-icon:after {
    content: "";
  }

  .menu-icon:before {
    width: 75%;
    top: 0;
    left: 0;
  }

  .menu-icon:after {
    bottom: 0;
    right: 0;
    width: 75%;
  }

  .menu-icon span {
    width: 100%;
    top: 50%;
    left: 0;
    -webkit-transform: scale(1) translate(0px, -50%);
        -ms-transform: scale(1) translate(0px, -50%);
            transform: scale(1) translate(0px, -50%);
  }

  .menu-icon._active:before {
    width: 0%;
  }

  .menu-icon._active:after {
    width: 0%;
  }

  .menu-icon._active .span1 {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-icon._active .span2 {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .popupBasket-container {
    width: 450px;
  }

  .popupBasket-top {
    padding: 22px 16px;
  }

  .popupBasket-products {
    padding: 32px 16px;
  }

  .popupBasket-bottom {
    padding: 32px 16px;
  }

  .block2 {
    margin-top: 50px;
  }

  .block2-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .block2-leftSide {
    width: 100%;
    max-width: 100%;
    margin-bottom: 50px;
    margin-right: 0;
  }

  .block2-categories {
    width: 100%;
  }

  .block4-product-price {
    font-size: 18px;
  }

  .block7-top {
    margin-bottom: 50px;
  }

  .block7-articles {
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 50px;
    -ms-grid-rows: auto 50px auto;
        grid-template-areas: "big-article big-article" "article1 article2";
  }

  .big-article {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: big-article;
  }

  @media (max-width: 767px){

  .big-article {
      -ms-grid-row: 1;
      -ms-grid-column: 1;
      -ms-grid-column-span: 3;
  }
  }

  .block8 {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: (1fr)[2];
    grid-template-rows: repeat(2, 1fr);
  }

  .footer {
    padding: 30px 0px;
  }

  .footer-navigations {
    width: 60%;
  }

  .footer-nav-title {
    font-size: 22px;
  }

  .footer-li-a {
    font-size: 18px;
  }

  .big-article {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }

  .article1 {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }

  .article1 {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
}

@media (max-width: 576px) {
  .popupBasket-container {
    width: 100%;
  }

  .popupBasket-product-img {
    margin-right: 16px;
  }

  .popupBasket-stepper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .popupBasket-stepper-field {
    margin-bottom: 15px;
  }

  .popupBasket-totalPriceContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .popupBasket-total {
    margin-bottom: 10px;
  }

  .block2-categories {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .block2-category {
    width: 100%;
    padding: 0px 0px 90% 0px;
  }

  .block2-category:not(:last-child) {
    margin-bottom: 40px;
  }

  .block3 {
    margin-top: 50px;
    margin-bottom: 25px;
  }

  .block4-products {
    -ms-grid-columns: (95%)[1];
    grid-template-columns: repeat(1, 95%);
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .block7-articles {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
        grid-template-areas: "big-article" "article1" "article2";
  }

  .big-article .block7-img-background {
    padding: 0px 0px 258px 0px;
  }

  .block7-img-background {
    padding: 0px 0px 258px 0px;
  }

  .block9-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .block9-colony {
    width: 100%;
    margin-bottom: 36px;
  }

  .block9-colony:last-child {
    margin-bottom: 0px;
  }

  .footer-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer-logo {
    margin-bottom: 30px;
  }

  .footer-navigations {
    width: 100%;
  }

  .footer-nav {
    width: 50%;
  }

  .big-article {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }

  .article1 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }

  .article1 {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }

  .big-article {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }
}

@media (max-width: 450px) {
  .block1-title2 {
    font-size: 34px;
  }

  .block4-product-button {
    font-size: 10px;
  }

  .block4-product-price {
    font-size: 14px;
  }

  .block4-lable {
    padding: 10px 14px;
    font-size: 8px;
  }

  .block8 {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[3];
    grid-template-rows: repeat(3, 1fr);
  }
}

@media (max-width: 350px) {
  .popupBasket-top {
    padding: 22px 8px;
  }

  .popupBasket-products {
    padding: 32px 8px;
  }

  .popupBasket-product-img {
    margin-right: 10px;
  }

  .popupBasket-bottom {
    padding: 32px 8px;
  }

  .block3-aside {
    min-width: 90px;
  }

  .block3-menu-title {
    font-size: 12px;
  }

  .block3-li-a {
    font-size: 12px;
  }

  .footer-navigations {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer-nav {
    width: 100%;
  }

  .footer-nav:not(:last-child) {
    margin-bottom: 50px;
  }
}

.webp .block1{ background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(24, 24, 29, 0.45)), to(rgba(24, 24, 29, 0.45))), url(../img/block1-background.webp); background-image: -o-linear-gradient(top, rgba(24, 24, 29, 0.45), rgba(24, 24, 29, 0.45)), url(../img/block1-background.webp); background-image: linear-gradient(180deg, rgba(24, 24, 29, 0.45), rgba(24, 24, 29, 0.45)), url(../img/block1-background.webp); }